@model WorkItemDisplayDto

@{
    ViewData["Title"] = "Подтвердить удаление задачи";
}

<div class="ui center aligned container">
    <h2>Вы действительно хотите удалить задачу "@Model.Title"?</h2>
    <form asp-action="SubmitDelete" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="ui button">Да</button>
        <a asp-action="Index" class="ui button">Нет</a>
    </form>
</div>


